internet-labs/src/labs/LR_8/src/TV guide.dtd

<!DOCTYPE TVGUIDE[
<!ELEMENT TVGUIDE (SHOW*)>
<!ELEMENT SHOW (DATE,CHANELL,JANRE,STARTTIME,DURATION)>
<!ELEMENT DATE (DAY,MONTH,YEAR)>
<!ATTLIST SHOW Name CDATA #REQUIRED>
<!ATTLIST DAY DayOfWeek CDATA #REQUIRED>
<!ELEMENT DAY (#PCDATA)>
<!ELEMENT MONTH (#PCDATA)>
<!ELEMENT YEAR (#PCDATA)>
<!ELEMENT CHANELL (#PCDATA)>
<!ELEMENT JANRE (#PCDATA)>
<!ELEMENT STARTTIME (#PCDATA)>
<!ELEMENT DURATION (#PCDATA)>
]>